include includes/header

block content
	.row
	.context-menu.context
	#message.yesno
		.top
			.message-area
		.bottom
			input.yes(type="button", value="Yes")
			input.no(type="button", value="No")
	.delete-file.message
		.top Are you sure you want to delete
			span
			| ?
		.bottom
			input.yes(type="button", value="Yes")
			input.no(type="button", value="No")
	.delete-folder.message
		.top Are you sure you want to delete
			span
			| ?
		.bottom
			input.yes(type="button", value="Yes")
			input.no(type="button", value="No")
	.create-file.message
		.top Create File
		.bottom: input
	.create-folder.message
		.top Create Folder
		.bottom: input
	.login
		form Pick a username
			br
			input.username
			input(type="submit", value="Start", class="username-picked")
	.header
		.logo CollabKings
		.editor-options
			.theme
				select
					option(value="monokai_sublime.css") Monokai
					- for(i in styles)
						- if(styles[i] == 'monokai_sublime.css' || styles[i] == 'monokai.css')continue;
						- var style = styles[i].split('.')[0];
						- var name = style.substr(0,1).toUpperCase() + style.substr(1);
						- if(name.indexOf('_') > -1)
							- name = name.split('_').join(' ')
						option(value="#{styles[i]}") #{name}
			//- .language
			//- 	select
			//- 		option Javascript
			//- 		option HTML
			//- 		option CSS
	.projects
		.project-area
			.collaborators
				.collab-head Collaborators
				.collab-body
			.file-manager
				.folder-context.context
					.createFile
						i.fa.fa-copy
						| &nbsp; Create File
					//- .moveFolder
					//- 	i.fa.fa-arrows
					//- 	| &nbsp; Move
					.deleteFolder
						i.fa.fa-trash
						| &nbsp; Delete
					//- .renameFolder
					//- 	i.fa.fa-edit
					//- 	| &nbsp; Rename
				.file-context.context
					//- .moveFile 
					//- 	i.fa.fa-arrows
					//- 	| &nbsp; Move
					.deleteFile 
						i.fa.fa-trash
						| &nbsp; Delete
					//- .renameFile 
					//- 	i.fa.fa-edit
					//- 	| &nbsp; Rename
				.file-head Projects
					span: img(class="createFile", src="img/new-file.svg", alt="Create File", title="Create File", url="/")
					span: img(class="createFolder", src="img/new-folder.svg", alt="Create Folder", title="Create Folder", url="/")
				.file-body
			.shared-files
				.shared-head Shared Files
				.shared-body
	.javascriptEditor
		pre.code-area.hljs#editor1
			.numbers
			code.editor(tabindex="0", class="javascript")
			
	.chat
		.chat-header
			.username-area
			.quick-msg
			.options
		.chat-body
			.chat-msg-area: div
			.chat-msg-type
				input.chat-msg(type="text")
		.chat-users
include includes/footer
