script(src="js/lib/jquery.mCustomScrollbar.concat.min.js")
script(src="js/cursor.js")
script(src="js/row.js")
script(src="js/folder.js")
script(src="js/file.js")
script(src="js/fileManager.js")
script(src="js/manager.js")
script(src="js/user.js")
script(src="js/userManager.js")
script(src="js/editor.js")
script(src="js/editorManager.js")
script(src="js/chat.js")
script(src="js/main.js")