doctype
head
	link(rel="stylesheet", class="csstheme", href="css/highlight/monokai_sublime.css")
	link(rel="stylesheet", href="css/lib/jquery.mCustomScrollbar.css")
	link(rel="stylesheet", href="css/main.css")
	script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js")
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
	script(src="http://localhost:4000/socket.io/socket.io.js")
	script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")
	link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
body
	block content