doctype
head
	link(rel="stylesheet", class="csstheme", href="css/highlight/monokai_sublime.css")
	link(rel="stylesheet", href="css/lib/jquery.mCustomScrollbar.css")
	link(rel="stylesheet", href="css/main.css")
	script(src="js/lib/highlight.js")
	script(src="js/lib/jquery.js")
	script(src="/socket.io/socket.io.js")
	script(src="js/lib/jqueryui.js")
	link(rel="stylesheet", href="css/fa/css/font-awesome.min.css")
body
	block content