.header 
	display table
	width 100%
	padding 10px
	background #222
	height 50px
	position absolute
	z-index 1000
	border-bottom 1px solid black
	
	.logo
		color white

	> * 
		display table-cell
		vertical-align middle

	.theme, .language 
		display inline-block
		margin-right 10px
		select
			background #413E3E
			border 1px solid rgb(2, 2, 2)
			padding 3px
			border-radius 3px
			color white
