*
	box-sizing border-box
pre
	margin 0
body, html
	margin 0
	padding 0
	height 100%

.none
	display none
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments
no-select()
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

@import "chat.styl"
@import "projects.styl"
@import "header.styl"
@import "editor.styl"
@import "message.styl"



/**** Login ***/
.login {
    position: absolute;
	top: 0;
	color: white;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 9999;
}

.login form {
    width: 400px;
	text-align: center;
	background: #9D3B3B;
	margin: auto;
	height: 150px;
	padding: 50px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-top: 20%;
}

input.username {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px;
}

input.username-picked {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
}

