.create-file 
	position absolute
	top 20%
	height 75px
	width 200px
	left 40%
	z-index 9999
	background #434343
	padding 10px
	color white
	text-align center
	display none

.projects 
	no-select()
	position absolute
	width 20%
	height 100%
	padding-top 50px
	left 80%
	background #2C2C2C
	color white
	min-width 200px
	
	.collaborators,
	.file-manager, 
	.shared-files 
		// background #222
		height 33%
		// border 1px solid rgb(118, 117, 117)
		// padding 10px
		.collab-head,
		.file-head,
		.shared-head
			padding-bottom 5px
			border-bottom 1px solid #444
		.file-body
			overflow-y auto
			height 87%
		.folder-context 
			position absolute
			border 1px solid #999
			z-index 9999
			background white
			color black
			display none
			div 
				padding 5px 10px
				cursor pointer
				&:hover 
					background  #999
					color  #eee
	.project-area
		height 100%
		padding 10px
		border-top: 1px solid #777
	
	.file 
		font-size 15px
		cursor default
		
	.project 
		font-size 20px
		font-family cursive
		cursor pointer
		.file
			padding-left 19px
			display none

    
