.projects 
	no-select()
	position absolute
	width 20%
	height 100%
	padding-top 60px
	left 80%
	background #2C2C2C
	color white
	padding-left 10px
	min-width 200px
	

	> .project-area
		border-top: 1px solid #777;
	
	.file 
		font-size 15px
		cursor default
		
	.project 
		font-size 20px
		font-family cursive
		cursor pointer
		.file
			margin-left 19px
			display none

    
